body{
    background-color: #211522;
    color: #d9d21a;
            
    }
h1{
    text-align: center;
    }
div#d{

}

.glow {
  font-size: 80px;
  color: #d9d21a;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    font-size: 80px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cfc815, 0 0 40px #cfc815, 0 0 50px #cfc815, 0 0 60px #cfc815, 0 0 70px #cfc815;
  }
  to {
    font-size: 85px;
    text-shadow: 0 0 20px #fff, 0 0 30px #fffa73, 0 0 40px #fffa73, 0 0 50px #fffa73, 0 0 60px #fffa73, 0 0 70px #fffa73, 0 0 80px #fffa73;
  }
}