body{
       background-color: #211522;
        color: #d9d21a;
            
}
h1{
    text-align: center;
}
div#flex{
    display: flex;
}
div#flex div{
    width: 45%;
    content: ;
}
div#flexbox{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 20px;
}
div#flexbox img {
    width: 150px;
    border:3px solid #613659;
    color: #452947;
    border-radius: 10px;
    width: 10%;
    marg
}
h3#contador{
    position: fixed;
    top: 12%;
    right: 6%;
}
h3#countdown{
    position: fixed;
    top: 16%;
    right: 6%;
}
