img {
	margin: 0 auto;
	width: 35%;
	border-radius: 5px;
}
div#play input{
	width: 100px;
	height: 40px;
	color: #d9d21a;
	margin: 10px;
	margin-top: 30px;
	background-color: #6c2670;
	border-color: #613659;
	border-radius: 3px;
}
div#instrucciones{
	border: 5px solid #613659;
	border-radius: 5px;
	padding: 15px;
	width: 45%;
	background-color: #452947;
}
h1.titulo{
	margin: 1% auto 3%;
}
div.flexbox{
	display: flex;
	margin-top: 12px;
}
div#niveles, div.flexbox div.relleno{
	width: 25%;
}
div.flexbox div#play{
	margin-left: auto;
	margin-right: auto;
}
.titulo{
	text-align: center;
}